@import "~normalize.css";
@import "~minireset.css";
@import "./_variables";

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Helvetica, serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.42;
  background-color: $primary-color;
}
